<?xml version="1.0" ?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Config:etc/system_file.xsd">
     <system>
          <section id="aligent_eventbridge" showInDefault="1" showInWebsite="1" showInStore="1">
               <label>AWS EventBridge</label>
               <tab>service</tab>
               <resource>Magento_Webapi::config_webapi</resource>

               <group id="credentials" translate="label" type="text" sortOrder="1" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Credentials</label>
                    <field id="access_key_id" type="text" sortOrder="1" showInDefault="2" showInWebsite="1" showInStore="1">
                         <label>Access Key ID</label>
                    </field>

                    <field id="secret_access_key" type="obscure" sortOrder="3" showInDefault="1" showInWebsite="1" showInStore="1">
                         <label>Secret Access Key</label>
                         <backend_model>Magento\Config\Model\Config\Backend\Encrypted</backend_model>
                    </field>
               </group>

               <group id="options" translate="label" type="text" sortOrder="2" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Options</label>
                    <field id="region" type="text" sortOrder="1" showInDefault="1" showInWebsite="1" showInStore="1">
                         <label>Region</label>
                         <comment><![CDATA[Default: 'us-east-1']]></comment>
                    </field>

                    <field id="source" type="text" sortOrder="2" showInDefault="1" showInWebsite="1" showInStore="1">
                         <label>Event source name</label>
                         <comment><![CDATA[Default: store's host name]]></comment>
                    </field>

                    <field id="event_bus" type="text" sortOrder="3" showInDefault="1" showInWebsite="1" showInStore="1">
                         <label>Event bus name</label>
                         <comment>
                              <![CDATA[Default: 'default']]></comment>
                    </field>
               </group>
          </section>
     </system>
</config>
